PORT=3000
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=elo_boost
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=yoursupersecretjwttokenkey
ENCRYPTION_KEY=your32characterextralongkeyhere
ENCRYPTION_IV=your16charivhere
HENRIK_API_KEY=
CUSTOMER_DOMAIN=kodteslimal.com
ADMIN_DOMAIN=admin.kodteslimal.com
NODE_ENV=development
